<!-- ./views/index.handlebars -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <table class="table table-hover text-center" style="width: 30rem;" align="center">
        <tbody>
          {{#each todos}}
          <tr>
            <td>{{this.name}}</td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="defaultCheck1" {{#if this.done }} checked{{/if}}>
                <label class="form-check-label" for="defaultCheck1">
                </label>
              </div>
            </td>
            <td>
              <a href="/todos/{{{this.id}}}/edit" class="btn btn-success btn-sm mr-2">edit</a>
              <form action="/todos/{{{this.id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger btn-sm">delete</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <table class="table table-borderless text-center">
        <tbody>
          <tr>
            <td>
              <a href="/todos/new" class="btn btn-outline-info">新增一筆待辦</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>